contourpy==1.3.2
cpsmehelper==1.0.1
cycler==0.12.1
fonttools==4.58.2
joblib==1.5.1
kiwisolver==1.4.8
matplotlib==3.10.3
networkx==3.5
numpy==2.3.0
packaging==25.0
pandas==2.3.0
pillow==11.2.1
pyparsing==3.2.3
pyreco==1.0.3
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
style==1.1.0
threadpoolctl==3.6.0
tikzplotlib==0.10.1
tzdata==2025.2
update==0.0.1
webcolors==24.11.1
